form#new-tweet {
  background-color: #323741;
  padding: 2rem;
  display: flex;
  gap: 1rem;
  border-bottom: 2px solid white;
}

form#new-tweet > input {
  border-radius: 15px;
  border: none;
  width: 100%;
  padding: 0.5rem;
  font-size: 1.2rem;
  font-family: inherit;
}

form#new-tweet button {
  background-color: none;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 200ms;
}

form#new-tweet svg {
  width: 2.5rem;
  height: auto;
}

form#new-tweet button:hover {
  background-color: #afafaf;
}
